body {
    background-color: rgb(255, 255, 255);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header div {
    display: infleline-block;
}

.JS-container img {
    display: inline-block;
    width: 100px;
    padding: 25px;
}

.sections h1 {
    display: inline-block;
    padding: 30px;
    margin-right: 30px;
    font: small-caps bold 30px/1.5 "Helvetice Neue", sans-serif;
}