@import url('/css/comico.css');
@import url('/css/recia.css');

/* ----- */

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

h4 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
}

h4 a {
    font-family: "Josefin Sans", sans-serif;
    font-weight: normal;
    color: rgb(72, 224, 12);   
}

h4 a:hover {
    text-decoration: underline;
}

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid rgb(0, 0, 0); */
    /* box-shadow: 0px 6px 10px 1px rgba(0, 0, 0, 0.15); */
    margin: 0;
    padding: 0;

    font-family: "Josefin Sans", sans-serif;
}

.JS-container {
    display: flex;
    align-items: center;
}

.JS-container img {
    width: 60px;
    padding: 0px;
    margin: 10px;
    /* filter: invert(100%); */
}

.name-letters {
    font-family: 'Comico-Regular';
    font-size: 38px;
    margin: 0;
    padding: 0;
    width: 80px;
}

.name-letters span {
    margin: -4px;
    padding: 0;
}

.sections .word-container {
    display: inline-block;
    width: 200px;
    text-align: center;
    transition: text-shadow .3s ease-out;

    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
}

.letter {
    display: inline-block;
    /* width: 40px; */
    margin: -4.5px;
    text-transform: lowercase;
    transition: text-shadow .3s ease-out;

    font-size: 35px;
    font-weight: 700;
    line-height: 1.5;
}

.letter:hover {
    text-transform: uppercase;
}

#projects .letter:hover { text-shadow: 0 0 15px rgb(9, 112, 209); }
#projects.word-container:hover {text-shadow: 0 0 30px rgb(9, 112, 209); }

#aboutMe .letter:hover { text-shadow: 0 0 15px red; }
#aboutMe.word-container:hover { text-shadow: 0 0 30px red }

#resume .letter:hover { text-shadow: 0 0 15px yellow; }
#resume.word-container:hover { text-shadow: 0 0 30px yellow; }

#contact .letter:hover { text-shadow: 0 0 15px green; }
#contact.word-container:hover { text-shadow: 0 0 30px green; }

a {
    all: unset;
    cursor: pointer;
}

body {
    text-align: center;
    background-color: white;
    color: black;
}

img {
    padding: 30px;
    padding-top: 50px;
}

h1 {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Comico-Regular";
}

#about-me p {
    font-family: 'Recia-Regular', serif;
}

#about-me {
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 30px;
}

#resume-text {
    font-family: 'Recia-Regular', serif;
    font-size: 20px;
    margin-top: 100px;
}

#resume-text a {
    font-family: 'Recia-Regular', serif;
    color: rgb(56, 30, 161);
}

#resume-text a:hover {
    text-decoration: underline;
}